body{
    background-color: black;
    margin: 0px;
    padding: 0px;
}
.nav{
    height: 80px;
    background-color:transparent;
    display: flex;
    align-items: center;
}
.icon{
    margin-left: 25px;
}
.icon i{
    font-size: 20px;
    color: white;
}
.image{
    margin-left: 35px;
}
.search{
    margin-left: 250px;
}
.search input{
    height: 35px;
    width: 550px;
    background-color: transparent;
    color: white;
    border: 2px solid white;
    opacity: 0.5;
    border-radius: 30px;
    padding-left:20px ;
}
.search input::placeholder{
    color: rgb(236, 229, 229);
    font-size: 15px;
}
.mic{
    margin-left: 20px;
}
.mic i{
    color: rgb(236, 229, 229);
    height: 40px;
    width: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(65, 62, 62);
    border-radius: 50%;
    font-size: 20px;
}
.create{
    margin-left: 270px;
}
.create i{
    color:rgb(236, 229, 229);
    font-size: 21px;
}
.ball{
    margin-left: 30px;
}
.ball i{
    color: rgb(236, 229, 229);
    font-size: 21px;
}
.profile{
    margin-left: 30px;
}
.profile i{
    color: rgb(236, 229, 229);
    font-size: 21px;
    height: 40px;
    width: 40px;
    background-color: rgb(65, 62, 62);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.slidebar{
    width: 220px;
    height: 100vh;
    background-color: transparent;
    padding-left: 25px;
    margin-top: 20px;
    overflow: scroll;
}
.slidebar::-webkit-scrollbar{
    display: none;
}
.home{
    margin-top: 25px;
}
.home i{
    color: rgb(236, 229, 229);
    font-size: 20px;
}
.home a{
    color: rgb(236, 229, 229);
    text-decoration: none;
    margin-left: 25px;
}
.line{
    height: 1px;
    width: 200px;
    background-color: rgb(236, 229, 229);
    margin-top: 25px;
    opacity: 0.5;
}
.you{
    margin-top: 25px;
}
.you i{
    color: rgb(236, 229, 229);
    margin-left: 10px;
    opacity: 0.5;
}
.you a{
    color: rgb(236, 229, 229);
    text-decoration: none;
    font-size: 18px;
}
.subs{
    margin-top: 25px;
}
.subs a{
    color: rgb(236, 229, 229);
    text-decoration: none;
    font-weight: bold;
    font-size: 18px;
}
.ch1{
    margin-top: 25px;
}
.ch1 i{
    color: rgb(236, 229, 229);
    font-size: 20px;
}
.ch1 a{
    color: rgb(236, 229, 229);
    text-decoration: none;
    margin-left: 26px;
}
.footer{
    margin-top: 25px;
}
.footer a{
    color: rgb(236, 229, 229);
    text-decoration: none;
    font-size:small;
    opacity: 0.8;
}
.footer2{
    margin-top: 15px;
}
.footer2 a{
    color: rgb(236, 229, 229);
    text-decoration: none;
    font-size:x-small;
    opacity: 0.6;
}
.main{
    display: flex;
}
.main-content{
    width: 1267px;
    overflow: scroll;
    height: 100vh;
}
.line1{
    display: flex;
    overflow: scroll;
    height: 40px;
}
.line1::-webkit-scrollbar{
    display: none;
}
button{
    padding: 6px 20px;
    font-size: 15px;
    margin: 5px;
    border-radius: 10px;
    background-color:rgb(65, 62, 62) ;
    color:rgb(236, 229, 229) ;
    border: none;
}
.line-2{
    height: 350px;
    width: 1000px;
    background-color:transparent;
    display: flex;
    margin-top: 20px;
    margin-left: 20px;
}
.box1{
    height: 350px;
    width: 500px;
    background-color: transparent;
    margin-right: 15px;
}
.box1 iframe{
    border-radius: 20px;
}
.profile2{
    display: flex;
}
.profile2 i{
    height: 35px;
    width: 35px;
    background-color: rgb(65, 62, 62);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    color: rgb(236, 229, 229);
}
.profile2 a{
    text-decoration: none;
    color: rgb(236, 229, 229);
    margin-top: 8px;
    margin-left: 10px;
}
.learn{
    line-height: 23px;
    margin-left: 45px;
}
.learn a{
    text-decoration: none;
    color: rgb(236, 229, 229);
    opacity: 0.7;
}